/*  code adapted from tutorial on http://javascript-array.com/scripts/simple_drop_down_menu/  */

#qqq
{	margin-left: auto;
	margin-right: auto;
	width:600px;
	z-index: 30;
	text-align: center;
	display:block;
	white-space:nowrap;}

#qqq li
{	
	list-style: none;
	float: left;
	font: bold 18px arial;
	display: inline;
	}

#qqq li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 6px 28px;
	width: 60px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	position:relative;
	}

#qqq li a:hover
{	background: #49A3FF}

#qqq div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2;
	display: inline;}

	#qqq div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial;
		}

	#qqq div a:hover
	{	background: #49A3FF;
		color: #FFF}