body{
    background-image:url(psychedelic_background.jpg); /*Background image from desktopnexus.com - thank you!*/
    background-color:aqua;
    margin:3%;
}
h1{
    font-weight:bold;
    text-align:"center";
    font-family:krungthep;
    color:white;
    padding-top:10%;
}
p{
    font-family:arial, helvetica, sans-serif;
    color:white;
}
p.example{
    font-family:arial, helvetica, sans-serif;
    color:white;
    font-style:italic;
}
p.a {color: #00ff00;}
p.b {color:#446d44}
p.e {color:#00ff11}
p.f {color:#9a9a9a}
p.g {color:#a86bf0}
p.h {color:#bf166b}
p.i {color:#1ffc64}
p.j {color:#a86bf0}
p.l {color:#c39797}
p.m {color:#0066cc}
p.n {color:#ffcc00}
p.o {color:#088da5}
p.p {color:#e3e3e3}
p.q {color:#c39797}
p.r {color:#af919d}
p.s {color:#ff6666}
p.t {color:#f0f8ff}
p.u {color:#6b4423}
p.v {color:#9a1c1c}
p.z {color:#6600cc}
p.w {color:#e0cda7}
div{
    background-color:rgba(60, 0, 100, .9);
    padding-top:50px;
    padding-right:150px;
    padding-bottom:50px;
    padding-left:150px;
}
div.finn {    background-color:rgba(60, 0, 100, .9);
float: right;
}
img.mm {
    width:150px;
    height:auto;
    padding:3%;
}
img.license{
    padding:5%;
}
img{padding:5%;
display: inline-block}
li{
    font-family:arial, helvetica, sans-serif;
    color:white;
}
h2{
    font-weight:bold;
    font-family:arial, helvetica, sans-serif;
    color:white;
}
h3{
    font-weight:bold;
    font-family:arial, helvetica, sans-serif;
    color:white;
}
a{
    color:grey;
}
a.cc{
    padding:10px;
}
a:hover{
    color:white;
}
a:visited{
    color:silver;
}
svg{
  width:2400px;
  background-color:white
}
#wrapper{
  border:2px black solid;
  padding:0 1em;
  overflow-x:scroll;
}
#wrapper2{
  border:2px black solid;
  padding:0 1em;
  overflow-x:scroll;
}

#rapper{
  border:2px black solid;
  padding:0 1em;
  overflow-x:scroll;
}

div.toc{border: 1px solid #aaa;
background-color: #f9f9f9;
font-size: 95%;
display: table;
padding: 5px;
font-family: sans-serif;}
span.ch{
    font-weight:bold;
    font-family:arial, helvetica, sans-serif;
    color:purple;
}

div.artistMenu {width:10px;
                position:absolute;
                left:0%;
                background-color:rgba(0, 0, 0, 0);
                text-align:left;
                padding:30px;}
div.artistMenu div{visibility:hidden;}
div.artistMenu a {border:1px;
                  border-style:solid;
                 left:1px;
                 background-color:rgba(50,0,150,.95);;
                 padding:20px;
                 }
div.artistMenu a:hover + div{visibility:visible;}
div.artistMenu div:hover {visibility:visible;}
div.artistMenu div {padding:30px;
                    padding-right:200px;
                    }
div.artistMenu div a {padding:0px;
                      background-color:rgba(0,0,0,0);
                      display:list-item;
                      border-style:none;
                      width:200px;}
